<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SGCD-Portails</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <header>
    SGCD-Portails
  </header>

  <main>
    <h1>Portal de Gestión de Carga<br>de Documentos - Portails</h1>

    <div class="button-container">
      <a href="login.html" class="portal-button">Portal de gestión para agentes navieros</a>
      <a href="login.html" class="portal-button">Portal de administración para agentes aduanales</a>
    </div>
  </main>

  <footer>
    &copy; 2025 SGCD-Portails. Todos los derechos reservados.<br>
  </footer>
</body>
</html>
